.header {
	padding-block: fluid(20, 10, $tablet);
	font-size: fluid(18, 16, $tablet); // width 1200 to 767 => font-size 18 to 16

	position: fixed;
	left: 0;
	right: 0;
	background-color: #fff3;
	backdrop-filter: blur(30px);
	z-index: 2;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: fluid(60, 15, $tablet);
	}

	&__menu {
		margin-left: auto;

		// drop down styles
		@include tablet {
			position: absolute;
			inset: 30px 0 auto;

			width: 50%;
			min-width: 300px;

			padding: 20px;
			margin-inline: auto;
			
			border-radius: 30px;
			background: var(--color-light);
			box-shadow: 0 5px 3px #0003;
		}

		&-list {
			display: flex;
			align-items: center;
			column-gap: fluid(36, 0, $tablet);

			@include tablet {
				flex-direction: column;
				row-gap: 10px;
			}
		}
		&-link {
			@include flex-center;
			height: 48px; // or padding-block: 10px...
			padding-inline: 14px; // expand the clickable area horizontally (instead of column-gap)
			position: relative;

			@include hover {
				color: var(--color-accent);

				&::after {
					scale: 1 1;
				}
			}

			// Underline
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;

				width: 100%;
				height: 1px;

				background-color: currentColor;

				scale: 0 1;
				transition: scale var(--transition-duration);
			}

			// Circle near the Cart icon
			&[data-count] {
				position: relative;

				&::before {
					@include flex-center;
					content: attr(data-count);
					
					min-width: 18px;
					padding: 2px;

					position: absolute;
					top: 0;
					right: 0;

					font-family: monospace;
					font-size: 14px;
					line-height: 1;

					border-radius: 30px; // not 50%
					background-color: var(--color-accent);
					color: var(--color-light);
				}
			}

			// Shrink icons when screen narrows
			& > svg {
				max-width: fluid(21, 18, $tablet);
			}
		}
	}

	&__button {
		@include tablet-above {
			margin-left: 20px; // button doesn't have padding-inline :(
		}
	}
	&__burger-button {
		z-index: 1;

		@include tablet-above {
			display: none;
		}
	}



	// Opening and closing the menu - animation
	@include tablet {
		&__menu {
			clip-path: circle(0%);
			transition-duration: var(--transition-duration);
		}
		&__burger-button:has(input:checked) + &__menu {
			clip-path: circle(70%);
		}
	}
}