.icon-list {
	@include flex-column(fluid(25, 15, $tablet));
	font-size: fluid(24, 18, $tablet);

	&__item {
		display: flex;
		align-items: center;
		column-gap: 26px;
	}
	&__icon {
		@include square(40px);
	}
}